/* For å gjøre siden responsiv, og for å bruke rem på en enkel måte */
:root {
    font-size: 62.5%;
}

/* Gjelder alle elementer på siden */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: Raleway, sans-serif;
    /*border: 0.05rem solid black;*/
}

/* Body på hjemmesiden */
body {
    background-color: #fff;
}

/* Header, inkludert logo og navigering */
header {
    background-color: #1780e8;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

header nav {
    display: flex;
    width: 100.0rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 8rem;
}

/* Teksten/linkene i navigasjonen */
header nav a {
    color: #fff;
    text-decoration: none;
    padding: 1.8rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}

/* Når du holder over linker så utheves skriften  */
a:hover {
    font-weight: 780;
}

/* Logo havner til venstre, og dytter resten til høyre */
header nav a.logo {
    margin-right: auto;
    height: 12rem;
}

header nav a.logo img {
    height: 100%;
}

/* Hovedinnholdet */
main {
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 0.5rem 2 rem;
    height: 200vh;
}

/* Footer, skal være helt i bånn på siden. */
footer {
    margin-top: 10rem;
    background-color: #1780e8;
    /*position: fixed;*/
    bottom: 0;
    left: 0;
    width: 100%;
}

footer #footer-flex {
    display: flex;
    width: 100%;
    margin: auto; 
}


footer #footer-flex article {
    color: #fff;
    font-size: 1.2rem;
    padding: 1.8rem;
    width: 25%;
    line-height: 2rem;
}