h1 {
    font-size: 1.8rem;
    color: #1780e8;
    text-align: center;
    padding: 1.5rem;
    line-height: 3rem;
}

h5 {
    font-size: 1.4rem;
    color: #1780e8;
    text-align: center;
    padding: 1.5rem;
    line-height: 3rem;
}

p {
    font-size: 1.4rem;
    line-height: 2.5rem;
    text-align: left;
    padding: 2rem;
}

p #pp {
    color: #1780e8;
}